# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
Thumbs.db
*.swp
*.swo

# Editor/IDE files
.vscode/
.idea/

# React or Next.js specifics
.next/
out/

# Media files (if not version-controlled)
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.mov
*.psd
*.ai

